
.hea{
  margin: auto;
  
  margin-left: 380px;
  height: auto;

  

}

.ga{
  
  background-position: center;
  background-size: cover;
}

body{
  background-color: lightskyblue;
  background-position: center;
  background-size: cover;
}
  
}
